<div class="login_box">
    <div class="close-login1">X</div>
    <div class="login-header">
        <span>Register</span>
    </div>
<<<<<<< HEAD
    <form id="registerForm">
        <div class="input_box">
            <input type="text" id="userRegister" class="input-field" required>
            <label for="userRegister" class="label">Email</label>
            <i class="bx bx-user icon"></i>
        </div>
        <div class="input_box">
            <input type="password" id="passRegister" class="input-field" required>
            <label for="passRegister" class="label">Mật khẩu</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>
        <div class="input_box">
            <input type="password" id="passRegister2" class="input-field" required>
            <label for="passRegister2" class="label">Nhập lại mật khẩu</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>
        <div class="error-login" id="error-register"></div>
=======
    <form id="loginForm">
        <div class="input_box">
            <input type="text" id="user" class="input-field" required>
            <label for="user" class="label">Email</label>
            <i class="bx bx-user icon"></i>
        </div>
        <div class="input_box">
            <input type="password" id="pass" class="input-field" required>
            <label for="pass" class="label">Mật khẩu</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>
        <div class="input_box">
            <input type="password" id="pass2" class="input-field" required>
            <label for="pass" class="label">Nhập lại mật khẩu</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>
        <div class="error-login" id="error-login"></div>
>>>>>>> 7ad3da394e5fb84f81242f84ff98bf1476fbeabf

        <div class="input_box">
            <input type="submit" class="input-submit" value="Đăng ký">
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
<<<<<<< HEAD
        $('#registerForm').submit(function (event) {
            event.preventDefault();
            var email = $('#userRegister').val();
            var password = $('#passRegister').val();
            var password2 = $('#passRegister2').val();
=======
        $('#loginForm').submit(function (event) {
            event.preventDefault();
            var email = $('#user').val();
            var password = $('#pass').val();
            var password2 = $('#pass2').val();
>>>>>>> 7ad3da394e5fb84f81242f84ff98bf1476fbeabf
            $.ajax({
                url: '@Url.Action("XuLyRegister", "Login")',
                type: 'POST',
                data: {
                    email: email,
                    passWord: password,
                    passWord2: password2
                },
                success: function (result) {
                    if (result.success) {
                        window.location.href = result.redirectUrl;
                    } else {
<<<<<<< HEAD
                        $('#error-register').text(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    $('#error-register').text('Đã xảy ra lỗi, vui lòng thử lại.');
=======
                        $('#error-login').text(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    $('#error-login').text('Đã xảy ra lỗi, vui lòng thử lại.');
>>>>>>> 7ad3da394e5fb84f81242f84ff98bf1476fbeabf
                }
            });
        });
    });
</script>

