<div class="col-div-6">
    <div class="profile">
<<<<<<< HEAD
        <img src="~/Images/@ViewBag.Avatar" alt="user" class="pro-img">
=======
        <img src="imageBTL/user.png" alt="user" class="pro-img">
>>>>>>> 7ad3da394e5fb84f81242f84ff98bf1476fbeabf
        <p>
            @ViewBag.Fullname
            <span>Administrator</span>
        </p>
    </div>
</div>
